/*通用样式*/
*{margin:0;padding:0;word-wrap:break-word;}
body{font:12px/1.75 "宋体", arial, sans-serif,'DejaVu Sans','Lucida Grande',Tahoma,'Hiragino Sans GB',STHeiti,SimSun,sans-serif;color:#444;}

html, body, h1, h2, h3, h4, ul, li, dl,input,select{ font-family:Arial, Helvetica, sans-serif;  margin:0px;padding:0px;list-style-type:none }
a{color:#333;text-decoration:none;}
a:hover{text-decoration:underline;}
a img{border:none;} 
div,ul,li,p,form{padding: 0px; margin: 0px;list-style-type: none;}
em{font-style: normal;font-weight: normal;}
table {padding: 0px; margin: 0px;list-style-type: none;}
dt,dl,dd {padding: 0px; margin: 0px;list-style-type: none;}
form{margin:0px;padding:0px;}
tr {padding: 0px; margin: 0px;list-style-type: none;}
h3,h4{padding:0px; font-size:14px; font-weight:bold;}
.clear {clear:both;height:0px; overflow:hidden;}
.blank10{height:10px;overflow:hidden;}
.dotline{border-bottom:#CCC 1px dashed;margin:8px;}
input::-webkit-input-placeholder {
color: #b1aba5 !important; /* WebKit browsers */
}
input:-moz-placeholder {
color: #b1aba5 !important; /* Mozilla Firefox 4 to 18 */
}
input::-moz-placeholder {
color: #b1aba5 !important; /* Mozilla Firefox 19+ */
}
input:-ms-input-placeholder {
color: #b1aba5 !important; /* Internet Explorer 10+ */
}


/*内容样式*/
.content img{
    width: 100%;
    height: auto;
    float: left;
}
.form{
    width: 100%;
    background: url(p2_03.jpg) no-repeat scroll center center;
    filter:"progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='scale')";  
    -moz-background-size:100% 100%;
    background-size:100% 100%; 
    float: left;
    font-family: "微软雅黑";
}
.form li{
    float: left;
    width: 96%;
    height: 78px;
    line-height: 78px;
}
.form .gli{
    float: left;
    width: 96%;
    height: 167px;
    line-height: 167px;
    
}
.form li .left{
    width: 35%;
    float: left;
    font-size: 5vw;
}
.form li .right{
    width: 65%;
    float: left;
}
.form span{
    color: red;
    font-family: "黑体";
    margin-left: 7%;
    margin-right: 2%;
}
.form input{
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 7px;
    font-size: 5vw;
    padding-left: 3%;
}
.form textarea{
    border: none;
    border-radius: 7px;
    height: 200px;
    padding: 3%;
    padding-left: 3%;
    width: 97%;
}
.form select{
    width: 103%;
    height: 50px;
    border: none;
    border-radius: 7px;
    font-size: 5vw;
    padding-left: 3%;
    -webkit-appearance:none;
    background:#ffffff;
  
}
.bar{ width:100%; height:50px; background-color:#000; font-size:18px; position:fixed; top:0; left:0; opacity:0.9;}
.close{ background:url(x.png) no-repeat 10px 5px; background-size:24px 26px; width:50px; height:50px; float:right; display:inline-block; text-indent:-9999px;}
.bar span{ margin-left:20px; line-height:50px; color:#FFFFFF;}